*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.background{
    width: 900px;
    height: 600px;
    background-color: rgb(202, 197, 197);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page{
    width: 70%;
    height: 65%;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.text-top{
    background-color: white;
    height: 40%;
    padding-top: 40px;
    padding-left: 35px;
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text-top h2{
    color: aqua;
    font-size: medium;
    font-weight: 500;
    font-family: sans-serif;
}
.text-top p{
    font-size: medium;
    font-weight: 150;
    line-height: 20px;
}
.only{
    color: gold;
}
.bottom-left{
    height: 50%;
    width: 50%;
    background-color: rgb(19, 116, 129);
    border-bottom-left-radius: 10px;
    text-align: left;
    color: white;
    font-family: sans-serif;
}
.script{
    padding: 8%;  
}
.cash{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
span{
    font-size: 15px;
    color: grey;
    font-family: sans-serif;
}
.access{
    font-size: small;
}
.sign-up{
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50px;
    background-color: gold;
}
.bottom-right{
    height: 50%;
    width: 50%;
    background-color: rgb(43, 158, 173);
    position: relative;
    bottom: 50%;
    left: 50%;
    border-bottom-right-radius: 10px;
}
